# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. NumPy
4. Pandas
5. Matplotlib

| Data Science Tools |
 --------------------
| Jupyter Notebooks |
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
 
output = (3 *4) + 5

print(output)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- List open source tools in Data science

## Author

Sathyadev K